{% extends 'baseBack.html.twig' %}


{% block title %} Chauffeur
{% endblock %}

{% block tableau %}


<div class="col-xl-0">

									<!--begin::Charts Widget 1-->
									
										<!--begin::Header-->
										<div class="card-header border-0 pt-5">
                                        <div class="container">

                                        <div class="card card-xl-stretch mb-5 mb-xl-8" style="width: 780px;">
										<!--begin::Header-->
										<div class="card-header border-0 pt-5">
    <h1>Chauffeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{  chauffeur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{  chauffeur.prenom }}</td>
            </tr>
          <tr>
    
            <tr>
                <th>Horaires</th>
                <td>{{  chauffeur.horaires }}</td>
            </tr>
            <tr>
                <th>Experiences</th>
                <td>{{  chauffeur.experiences }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('app_chauffeur_index') }}" class="btn btn-secondary btn-sm">Retour à la liste</a>

<a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}" class="btn btn-warning btn-sm">Modifier</a>


    {{ include('chauffeur/_delete_form.html.twig') }}

    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
