{% extends 'baseFront.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }

        .card:hover {
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }

        .btn-primary {
            background-color: #8DD3BB;
            border-radius: 20px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }

        .btn-primary:hover {
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            transform: translateY(-5px);
        }

       
    </style>
{% endblock %}

{% block body %}
<h3>Moyen de transport publique</h3>
<div class="text-right">
    <form action="{{ path('app_affichemoyen_rechercher') }}" method="GET">
        <input type="text" name="nom">
        <input type="submit" value="Rechercher" class="btn btn-danger mr-2" style="background-color:#8DD3BB;">
    </form>
</div>
    <br>
<div class="container">
  <div class="row">
   
  
    {% for ligne in lignes %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
          <h3>{{ ligne.moyentp.type}}</h3>
          <br>
          {% if ligne.moyentp.type == 'TRAIN' %}
            <img src="assets/front/images/train.jpg"  >
          {% elseif ligne.moyentp.type == 'BUS' %}
            <img src="assets/front/images/bus.jpg"  >
          {% elseif ligne.moyentp.type == 'METRO' %}
            <img src="assets/front/images/metro.jpg"  >
          {% endif %}
           <br>
           <br>
            <h5 class="card-title">{{ ligne.moyentp }}</h5>
            <p class="card-text">{{ ligne.trajet }}</p>
            <br>
         
            <a href="{{path('app_affichemoyen_details',{ 'id': ligne.id  })}}" class="btn btn-primary" class="btn btn-primary" style="width:300px; margin:1px; background-color:#8DD3BB; ">Voir</a>
          </div>
        </div>
      </div>
    {% endfor %}
<div  style="margin-left: 526px;" >
        <style>
 .pagination {
    height: 40px;
    margin: 20px 10px;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0px;
}

.pagination li {
    display: inline;
}

.pagination a,
.pagination span {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
    background-color: #f5f5f5;
}

.pagination .active a,
.pagination .active span {
    color: #999999;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    cursor: default;
    background-color: transparent;
}

.pagination li:first-child a,
.pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a,
.pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pagination a:hover,
.pagination .active a,
.pagination .active span {
  background-color: #8DD3BB;
  color: #fff;
}

.pagination .active a,
.pagination .active span {
  background-color: #8DD3BB;
  color: #fff;
}
 </style>
 {{ knp_pagination_render(lignes) }}
</div>



  </div>
</div>

{% endblock %}
