{% extends 'baseBack.html.twig' %}

{% block title %}Location{% endblock %}

{% block tableau %}
<div class="col-xl-0">

									<!--begin::Charts Widget 1-->
									
										<!--begin::Header-->
										<div class="card-header border-0 pt-5">
                                        <div class="container">

                                        <div class="card card-xl-stretch mb-5 mb-xl-8" style="width: 780px;">
										<!--begin::Header-->
										<div class="card-header border-0 pt-5">
    
    <h1 class="mb-4">Location</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ location.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ location.nom }}</td>
                </tr>
                <tr>
                    <th>Disponibilite</th>
                    <td>{{ location.disponibilite }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ location.type }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ location.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a href="{{ path('app_location_index') }}" class="btn btn-secondary me-3">Back to list</a>
        <a href="{{ path('app_location_edit', {'id': location.id}) }}" class="btn btn-primary me-3">Edit</a>
        {{ include('location/_delete_form.html.twig') }}
    </div>
</div>
</div>
       </div>
          </div>
             </div>
                </div>

{% endblock %}
