<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>My Way</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{ asset('Front/images/favicon.png') }}" type="image/png">
        
        
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="{{ asset('Front/css/animate.css') }}">
        
    <!--====== Nice Select CSS ======-->
    <link rel="stylesheet" href="{{ asset('Front/css/nice-select.css') }}">
        
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="{{ asset('Front/css/LineIcons.2.0.css') }}">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="{{ asset('Front/css/bootstrap.4.5.2.min.css') }}">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="{{ asset('Front/css/default.css') }}">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="{{ asset('Front/css/style.css') }}">
    
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->

    <section class="header_area" style="background-color:#8DD3BB;">
        <div class="header_navbar" style="background-color:#8DD3BB;">
            <div class="container" style="background-color:#8DD3BB;">
                <div class="row">
                    <div class="col-lg-12" style="background-color:#8DD3BB;">
                    
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" >
                            <h5 style="font-family: 'Comic Sans MS'; color:white">MyWay</h5>
                                {# <img src="{{ asset('Front/images/logo.svg') }}" alt="Logo"> #}
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar">
                                <ul id="nav" class="navbar-nav ml-auto">
                                     <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_home') }}">Home</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Trajet</a>
                                    </li>
                                   <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_affichemoyen') }}">Moyen de transport</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{path('app_reclamation_index') }}">Réclamation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_reservation_location_index') }}">Location</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_front_guide')}}">Guide</a>
                                    </li>
                                      <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_front_chauffeur')}}">Chauffeur </a>
                                    </li>
                                    {# <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_user_edit', {'id': user.id}) }}">Profile</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="{{ path('app_logout') }}">Deconexion</a>
                                    </li> #}
                                    
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header navbar -->

        <div id="home" class="header_slider">
            <div class="single_slider bg_cover d-flex align-items-center" style="background-image: url(assets/front/images/backgroundfront.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_content">
                                <h2 class="slider_title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s">Explorer le monde avec<span> My Way</span></h2>
                                <p class="wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">Cherchez votre trajet et bien plus</p>
                               
                            </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single slider -->
        </div> <!-- header slider -->
    </section>

    <!--====== HEADER PART ENDS ======-->

    <!--====== CONTACT PART ENDS ======-->
  
<!--====== Front molka S ======-->
<br>
<br>
{% block body %}
{% endblock %}


   
    <!--====== FOOTER PART START ======-->

    <section id="footer" class="footer_area" style="background-color:#8DD3BB;">
        <div class="footer_widget pt-80 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 order-md-1 order-lg-1">
                        <div class="footer_about mt-50">
                            <a href="#"><img src="assets/front/images/logo.png" alt="MyWay"></a>
                             <p>Avec  notre application voyagez sans être perdu dans les villes et économisez avec les moyens de transport publics.</p> 
                             <ul class="social">
                                <li><a class="social_1" href="javascript:void(0)"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a class="social_2" href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a class="social_3" href="javascript:void(0)"><i class="lni lni-instagram-original"></i></a></li>
                                <li><a class="social_4" href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-4 col-md-12 order-md-3 order-lg-2">
                        <div class="footer_link_wrapper d-flex flex-wrap">
                            <div class="footer_link mt-45">
                                <h4 class="footer_title">Quick Link</h4>
                                <ul class="link">
                                    <li><a href="javascript:void(0)">Home</a></li>
                                    <li><a href="javascript:void(0)">About</a></li>
                                    <li><a href="javascript:void(0)">Trip Pacakge</a></li>
                                    <li><a href="javascript:void(0)">Services</a></li>
                                    <li><a href="javascript:void(0)">Gallery</a></li>
                                </ul>
                            </div> <!-- footer link -->
                            <div class="footer_link mt-45">
                                <h4 class="footer_title">Support</h4>
                                <ul class="link">
                                
                                    <li><a href="javascript:void(0)">Customer Support</a></li>
                                    <li><a href="javascript:void(0)">Privacy & Policy</a></li>
                                    <li><a href="javascript:void(0)">Terms & Condition</a></li>
                                    <li><a href="javascript:void(0)">Forum</a></li>
                                    <li><a href="javascript:void(0)">Tour Guide</a></li>
                                </ul>
                            </div> <!-- footer link -->
                        </div> <!-- footer link wrapper -->
                    </div> 
                    <div class="col-lg-4 col-md-6 order-md-2 order-lg-3">
                        <div class="footer_subscribe mt-45">
                            <h4 class="footer_title">Subscribe Newsletter</h4>
                          
                            <div class="subscribe_form">
                                <form action="#">
                                    <input type="text" placeholder="Enter email">
                                    <button><i class="lni lni-arrow-right"></i></button>
                                </form>
                            </div>
                        </div> <!-- footer subscribe -->
                    </div>  
                </div> <!-- row -->
            </div> <!-- container -->
            {# <p class="text-center mt-90">Designed and Developed by <a href="#">UIdeck</a></p> #}
        </div> <!-- footer widget -->
    </section>

    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    
    <!--====== PART START ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== PART ENDS ======-->





    <!--====== Jquery js ======-->
    <script src="{{ asset('Front/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('Front/js/vendor/modernizr-3.7.1.min.js') }}"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="{{ asset('Front/js/popper.min.js') }}"></script>
    <script src="{{ asset('Front/js/bootstrap.4.5.2.min.js') }}"></script>

    
    <!--====== Scrolling Nav js ======-->
    <script src="{{ asset('Front/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('Front/js/scrolling-nav.js') }}"></script>
    
    <!--====== Counter Up js ======-->
    <script src="{{ asset('Front/js/waypoints.min.js') }}"></script>
    <script src="{{ asset('Front/js/jquery.counterup.min.js') }}"></script>
    
    <!--====== Nice Select js ======-->
    <script src="{{ asset('Front/js/jquery.nice-select.min.js') }}"></script>
    
    <!--====== WOW js ======-->
    <script src="{{ asset('Front/js/wow.min.js') }}"></script>
    
    <!--====== Main js ======-->
    <script src="{{ asset('Front/js/main.js')}}"></script>
    
</body>

</html>